

html { 
  /*background: url(/images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

.page-content {
  margin-left: 170px;
}

header {
	background-color: #fff;
  border-right: 4px solid #52C69C;	
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .33);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
	height: 100%;
	width: 170px;
	position: fixed;
	top: 0;
	left: 0;
	transition: width .5s ease;
  -moz-transition: width .5s ease;
  -webkit-transition: width .5s ease;
  -o-transition: width .5s ease; 
  -ms-transition: width .5s ease; 
  z-index: 100;
}

	header:hover {
		transition: width .5s ease;
	   width: 230px;
	}

.header-title > h1 > a {
  color: #000;
  font-size: 20px;
}

.site-nav {
  text-align: center;
}  

.site-nav ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
}

  .site-nav li {
    border-top: 1px dashed #CCC;
    position: relative;
  }

    .site-nav li.last {
      border-bottom: 1px dashed #CCC;
    }

    .site-nav li a {
      color: #949494;      
      font-size: 16px;      
      padding: 15px;
      display: block;
      position: relative;
      z-index: 500;
    }

      .site-nav li a:hover {
        background-color: rgba(82, 198, 156, 0.53);
        color: #FFF;
      }

      .site-nav li a.active {

      }

.menu-icon {
  padding: 45px 0;
  text-align: center;
}

.bars-icon {
  color: #000;
  font-size: 32px;
}

  .bars-icon:before {
    content: "\f0c9";
  }


/*  INDEX  */

.home-wrapper {
  margin-left: 170px;
  position: relative;
}

/*.single {
  width: auto;
  float: none;
  margin: 0;
}*/

.intro {
  width: 345px;
  height: 110px;
  position:absolute;
  left:50%;
  top:50%;
  margin-top:-50px;
  margin-left: -100px;
  text-align: center;
}



/* PORTFOLIO */

.posts-thumbs {
  list-style-type: none;
  position: relative;
  padding: 0;
}

  .posts-thumbs li {
    float: left;
    margin: 5px;
    background: #fff;
    padding: 8px;
    position: relative;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  }

    .posts-thumbs li a,
    .posts-thumbs li a img {
      display: block;
      position: relative;
    }

    .posts-thumbs li a {
      overflow: hidden;
    }

      .posts-thumbs li a div {
        position: absolute;
        background: rgba(75,75,75,0.7);
        width: 100%;
        height: 100%;
      }

.post-thumb-title {
  
}      
/*title is for a line that extends under the title*/
  .post-thumb-title:after {
    content: ' ';
    display: block;
    position: absolute;
    bottom: -1em;
    width: 3em;
    border-bottom: 3px solid #FFF;
    background-color: #FFF;
  }




