@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar-thumb {
  background: #FF6833;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #52c69c;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: #F0F0F0;
}

::selection {
  background: #52c69c;
}

::-moz-selection {
  background: #52c69c;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  /*Inder OR Imprima is also a good one*/
	font-family: "Telex", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 100%;
	height: 100%;
}

body {
  color: #222222;
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
  -webkit-text-stroke: 0.2px;
}

.gmap {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

a {
  background: transparent;
  text-decoration: none;
}

a:hover {
  cursor: pointer; 
}

a:active,
a:hover {
  outline: 0;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
  -webkit-text-stroke: 0.2px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto; 
  display: inline-block;
  vertical-align: middle;
}

img {
  -ms-interpolation-mode: bicubic; 
}

.left {
  float: left; 
}

.right {
  float: right; 
}

.clearfix {
  *zoom: 1; 
}

	.clearfix:before, .clearfix:after {
		content: " ";
		display: table; 
	}

	.clearfix:after {
		clear: both; 
	}

.hidden {
  display: none; 
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-elem {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.input-elem:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.input-elem:-moz-placeholder {
  color: #999999;
}

.input-elem::-moz-placeholder {
  color: #999999;
}

.input-elem:-ms-input-placeholder {
  color: #999999;
}

.input-elem::-webkit-input-placeholder {
  color: #999999;
}

.input-elem[disabled],
.input-elem[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
}

textarea.input-elem {
  height: auto;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.checkbox[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .checkbox {
  cursor: not-allowed;
}

.input-elem-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

select.input-elem-sm {
  height: 30px;
  line-height: 30px;
}

textarea.input-elem-sm {
  height: auto;
}

.input-elem-lg {
  height: 45px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

select.input-elem-lg {
  height: 45px;
  line-height: 45px;
}

textarea.input-elem-lg {
  height: auto;
}

.radio,
.checkbox {
  display: block;
  min-height: 20px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.radio label,
.checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.button-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.button-sm,
.button-xs {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.button-xs {
  padding: 1px 5px;
}

.button-default {
  color: #FFF;
  background-color: #5CB85C;
  border-color: #4CAE4C;
}

.row-wrap {
  margin-right: -15px;
  margin-left: -15px;
}

.row-wrap:before,
.row-wrap:after {
  display: table;
  content: " ";
}

.row-wrap:after {
  clear: both;
}

.row-wrap:before,
.row-wrap:after {
  display: table;
  content: " ";
}

.row-wrap:after {
  clear: both;
}

.column {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-6 {  
  width: 50%;
}
