@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin font-size-color() {
  webkit-transition: color .5s, font-size .5s;
  -moz-transition: color .5s, font-size .5s;
  -o-transition: color .5s, font-size .5s;
  transition: color .5s, font-size .5s;
}

@mixin transition-width($speed: .5s) {
  transition: width $speed ease;
  -moz-transition: width $speed ease;
  -webkit-transition: width $speed ease;
  -o-transition: width $speed ease;
  -ms-transition: width $speed ease;
}