@media screen and (max-width: 320px) { // iPhone portrait

	.hidden-phone {
 		display: none;
 		visibility: hidden;
 	}

 	.form-wrapper form {
		margin-top: 0;
	}

	.intro {
		width: 285px;
	}
}
 
@media screen and (max-width: 480px) { // iPhone landscape
 	
 	#header {
 		display: none;
 		visibility: hidden;
 	}

 	#header-mobile {
 		display: block;
 	}

 	.page-content {
 		padding-top: 50px;
 		padding-left: 0;
 	}

 	.some-words {
 		width: auto;
		height: auto;
		padding: 15px;
		overflow: scroll;
 	}

 	.contact-info h3 {
 		font-size: 18px;
 	}

 	.social-list {
 		margin-left: 40px;
 	}

 	.post-thumb-title {
		font-size: 16px;
	}

	#map {
		padding-bottom: 9999px;
		margin-bottom: -9999px;
	}

	.form-underlay {
		height: 100%;
		height: 100vh;
		overflow: hidden;
	}

	aside.tags {
		display: none;
		visibility: hidden;
	}

	.post-content {
		position: relative;
	}

	.post-intro {
		padding-bottom: 10%;
	}

	.go-back {
		display: block;
		position: absolute;
		bottom: 5px;
		left: 5px;
		color: #52c69c;
	}

}

@media all and (max-width: 767px) and (min-width: 321px) {

	.some-words {
 		width: 80%;
 	}

}
 
@media screen and (max-width: 768px) { // iPad portrait

	.col-3 {
		width: 50%;
	}


 	.form-wrapper {
 		padding: 15px;
 		padding-top: 5px;
 		width: 100%;
 	}

 	

}
 
@media screen and (max-width: 1024px) { // iPad landscape
 
}
