$primary-color: #52c69c;
$primary-bright: #3dffb9;
$dark-grey: #333;
$darker-grey: #222;



@import 'normalize';
@import 'framework';
@import 'mixins';
@import 'plugins';



.page-content {
  padding-left: 170px;
  height: 100%;
}

#header {
  background-color: $darker-grey;
  border-right: 4px solid $primary-color;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
  height: 100%;
  width: 170px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  @include transition-width();
  &:hover {
    transition: width .5s ease;
    width: 230px;
    .header-title > h1 > a {
      font-size: 24px;
      color: #fff;
    }
    .site-nav a {
      color: #fff;
    }
    .bars-icon {
      color: #fff;
    }
  }
}

.header-title > h1 > a {
  color: #949494;
  font-size: 20px;
  letter-spacing: -1.5px;
  @include font-size-color();
}

.site-nav {
  margin-top: 120px;
  text-align: center;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    border-top: 1px dashed #CCC;
    position: relative;
    &.last {
      border-bottom: 1px dashed #CCC;
    }
    a {
      color: #949494;
      font-size: 16px;
      padding: 15px;
      display: block;
      position: relative;
      z-index: 500;
      @include font-size-color();
      &:hover {
        background-color: $primary-color;
        color: #FFF;
      }
    }
  }
}

.menu-icon {
  padding: 45px 0;
  text-align: center;
}

.bars-icon {
  color: #949494;
  font-size: 32px;
  @include font-size-color();
  &:before {
    content: "\f0c9";
  }
}

#header-mobile {
  display: none;

  background: #222;
  border-bottom: 4px solid #52c69c;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 50px;
  z-index: 9999;
}

.header-mobile-title {
  float: right;
  margin-right: 10px;
  margin-top: 14px;
  font-size: 1.2em;
  a {
    color: #949494;
    &:hover {
      color: #fff;
    }
  }
}

.hambuger {
  float: left;
  margin-left: 15px;
  margin-top: 10px;
  .bars-icon {
    font-size: 26px;
  }
}

.mobile-menu {
  display: none;

  background: #444;
  padding-top: 10px;
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 99;
  ul {
    list-style-type: none;
    padding: 0;
  }
}

.mobile-menu li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  &:hover {
    background: #666;
    a {
      color: #fff;
    }
  }
}

.mobile-menu a {
  color: #949494;
}

  .mobile-menu.active {
    display: block;
  }

/*   headroom.js   */
.headroom {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: .25s;
  -o-transition: .25s;
  -moz-transition: .25s;
  -ms-transition: .25s;
  transition: transform .25s ease-in-out;
}
.headroom--unpinned {
  -webkit-transition: .25s;
  -o-transition: .25s;
  -moz-transition: .25s;
  -ms-transition: .25s;
  transition: .25s;
  -webkit-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.headroom--pinned {
  top: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

.github-icon:before {
  content: "\f09b";
}

.twitter-icon:before {
  content: "\f099";
}

.linkedin-icon:before {
  content: "\f0e1";
}

.instagram-icon:before {
  content: "\f16d";
}

.fa-chevron-left:before {
  content: "\f053";
}

/*  INDEX  */

.home-wrapper {
  margin-left: 170px;
  position: relative;
}

.intro {
  width: 345px;
  height: 110px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -100px;
  text-align: center;
}

/* PORTFOLIO */

.posts-thumbs {
  float: left;
  list-style-type: none;
  padding: 0;
  position: relative;
  li {
    background: #fff;
    a {
      display: block;
      position: relative;
      img {
        display: block;
        position: relative;
        width: 100%;
      }
      overflow: hidden;
      div {
        background: rgba(75, 75, 75, 0.7);
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.post-thumb-title {
  color: #fff;
  font-size: 32px;
  text-align: center;
  .the-title {
    display: block;
    line-height: 1;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
  }
}

.tag-heading {
  background: #222;
  border-bottom: 4px solid #52c69c;
  color: #fff;
  margin: 0;
  padding: 15px;
}

.tag_list {
  list-style-type: none;
  position: absolute;
  bottom: 5px;
  padding-left: 0;
  li.archive_list {
    background: none;
    border-right: 1px solid #fff;
    float: left;
    font-size: 12px;
    padding-left: 7px;
    padding-right: 7px;
    &:hover {
      color: $primary-bright;
      border-right: 1px solid #fff;
    }
    &:last-child {
      border-right: none;
    }
    .tag_list_link {
      font-size: 12px;
    }
  }
}

.back-wrap {
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 9999;
  a {
    color: $primary-color;
    &:hover {
      color: $primary-bright;
    }
  }
}

.back-btn {
  vertical-align: middle;
  &:before {
    content: "\f053";
  }
}


/*title is for a line that extends under the title*/
/*  .post-thumb-title:after {
    background-color: #FFF;
    border-bottom: 3px solid #FFF;
    content: ' ';
    display: block;
    position: absolute;
    bottom: 3.5em;
    width: 3em;
  }*/

/*   CONTACT   */

#map {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: -200px;
  left: 0;
  right: 0;
  z-index: 0;
}

.form-wrapper {
  margin: 0 auto;
  padding: 30px;
  padding-top: 2%;
  position: relative;
  width: 60%;
  height: 100%;
  z-index: 100;
  label {
    color: #fff;
    width: 100%;
  }
  form {
    margin-top: 30px;
    position: relative;
    z-index: 10;
  }
  .input-elem {
    &:focus {
      border-color: #666;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(66, 66, 66, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(66, 66, 66, 0.6);
    }
  }
}

.form-underlay {
  background-color: rgba(58, 58, 58, 0.38);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

// .input-elem {
//   padding: 0 2px;
//   border: 0;
//   border-bottom: 1px solid #A5A5A5;
//   color: #000;
//   border-radius: 0;
//   font-size: 15px;
//   outline: none;
//   -webkit-transition: -webkit-transform .5s,all .5s;
//   -moz-transition: -moz-transform .5s,all .5s;
//   transition: transform .5s,all .5s;
//   -webkit-box-shadow: none;
//   -moz-box-shadow: none;
//   box-shadow: none;
//   margin-bottom: 15px;
// }

.input-textarea {
  width: 100%;
  resize: none;
  padding: 5px 2px;
}

.contact-info {
  color: #fff;
  position: relative;
  z-index: 10;
}

.contact-row {
  margin-bottom: 10px;
}

.contact-mode {
  font-size: 16px;
}

.contact-data {
  color: #000;
  font-size: 20px;
  a {
    color: #000;
    &:hover {
      color: $primary-color;
    }
  }
}


.social-list {
  list-style: none;
  margin-top: 10px;
  margin-left: 60px;
  padding-left: 0;
  li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
  a {
    color: #000;
    font-size: 32px;
    &:hover {
      color: $primary-color;
    }
  }
}

.contact-input {
  background: rgba(0,0,0,0.2);
  border: 2px solid rgba(255,255,255,0.8);
  font-size: 18px;
  color: #fff;
  color: rgba(255,255,255,0.8);
  -moz-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  width: 100%;
  height: 45px;
  padding: 10px 60px 10px 20px;
  outline: none;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  &:focus {
    background: rgba(82, 198, 156, 0.18);
    border-color: rgba(0, 0, 0, 0.35);
    font-weight: bold;
  }
}

  textarea.contact-input {
    height: 115px;
  }


/*  ABOUT  */
// #bg1 {
//   background: url(../images/akron.jpg) 0 0 no-repeat;
//   z-index: 50;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   position: fixed;
// }

// #bg2 {
//   z-index: 49;
//   background: url(../images/self.jpg) no-repeat;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   position: fixed;
// }

.col {
  float: left;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 46%;
}

.some-words {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: visible;
  width: 50%;
  height: 50%;
  z-index: 1;
  p {
    font-size: 1.2rem;
    line-height: 1.4;
  }
  a {
    color: $primary-color;
    text-decoration: underline;
    &:hover {
      color: $primary-bright;
      text-decoration: none;
    }
  }
}


/* POSTs */

.post-content p {
  line-height: 1.5;
  padding: 0 40px;
}

.feature-image img {
  width: 100%;
}

.post-intro {
  background: $dark-grey;
  color: #fff;
  padding: 5% 0;
  padding-top: 0;
  text-align: center;
  h1 {
    background: $primary-color;
    color: #fff;
    margin-top: 0;
    padding: 25px;
  }
  a {
    color: $primary-color;
    &:hover {
      color: #3DFFB9;
      text-decoration: underline;
    }
  }
}

.view-project {
  color: #666666;
  border: 3px solid #a5a5a5;
  background: transparent;
  display: inline-block;
  font-size: 20px;
  line-height: normal;
  margin-top: 25px;
  padding: 10px 64px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: auto;
  height: auto;
  &:hover {
    color: black;
    border-color: black;
    text-decoration: none !important;
    -webkit-transition: -webkit-transform 0.5s, all 0.5s;
    -moz-transition: -moz-transform 0.5s, all 0.5s;
    transition: transform 0.5s, all 0.5s;
  }
}

.email-send {
  display: none !important;
  visibility: hidden !important;
}

.go-back {
  display: none;
}

.success-msg {
  padding: 15px;
  background: rgba(82, 198, 156, 0.5);
  border-radius: 5px;
}










@import 'responsive';
