$bg: #927979;
$font: 'Nunito Sans';

$linkedin: #0077B5;
$twitter: #1DA1F2;
$github: #181717;

@import '_reset.scss';

html, body {
  color: #fff;
  font-family: $font, sans-serif;
}

body {
  background-color: $bg;
}

main {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.hello {
  color: #000;
  margin-bottom: 50px;
  margin-top: 40px;
  font-size: 54px;
}

.about {

  p {
    font-size: 22px;
    margin: 0;
    padding: 0;
    margin-top: 3px;

    &:nth-of-type(2) {
      font-size: 20px;
      margin-top: 25px;
    }
  }
}

.mo {
  display: none;
}

#other {
  color: #2d2d2d;
  text-decoration: none;

  &:hover {
    color: #000;
    text-decoration: underline;
  }
}

.external-links {
  margin-top: 60px;
  margin-bottom: 50px;

  a {
    display: inline-block;
    fill: #000;
    margin: 0 20px;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      fill: #444;
    }
  }

  svg {
    width: 50px;
  }
}

.ohio {

  svg {
    width: 50px;
    height: auto;
  }
}
