---
layout: default
---

<div class="posts-nav">
  <div class="posts-nav-icon">
    <a href="javascript:void(0)" id="toggle-posts-nav"><span class="fa bars-icon"></span></a>
  </div>
  <nav class="blog-nav" style="display: none;">
    <ul class="list-unstyled">
      {% for post in site.posts %}
        {% if post.categories contains 'blog' %}
          <li><a href="#{{ post.tag }}" class="blog-nav-anchor">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>

<main class="home-wrapper">

  {% for post in site.posts %}
    {% if post.categories contains 'blog' %}
      <div class="blog-post" id="{{ post.tag }}">
        <h2 class="blog-title">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>
        <p class="blog-meta">{{ post.date | date: '%B %d, %Y' }}</p>
        <article class="blog-entry">
          {{ post.content}}
        </article>
      </div>
    {% endif %}
  {% endfor %}

</main>


{% comment %}
<script type="text/javascript">
  // $(function() {
  //   //$("[data-typer-targets]").typer({});
  // });
</script>
{% endcomment %}