<article>

    <div class="work-history">
        <h3 class="work-history-heading">WORK</h3>
        <ul class="list-unstyled">
            <li>
                <h4 class="work-establishment"><a href="https://cureo.com/" target="_blank">Cureo (Optixconnect)</a></h4>
                <h5 class="work-highlights">HIGHLIGHTS</h5>
                <ul>
                    <li>Worked with a team developing an ASP.NET MVC 5 single page application.</li>
                    <li>Documented &amp; utilized an in-house built jQuery library (<a href="https://github.com/realstrategos/JSLess" target="_blank">JSLess</a>), used to manage history in the SPA &amp; make DOM behaviors easy to use and extensible.</li>
                    <li>Responsible for creating the applications user interface &amp; experience.</li>
                    <li>Helped to develop, maintain, and create features and workflows for the application.</li>
                </ul>
            </li>
        </ul>
    </div>
</article>