<script type="text/javascript" src="/js/lib.min.js"></script>

<script type="text/javascript">
    var theHeader = document.getElementById("header-mobile");
    new Headroom(theHeader, { offset: 130, tolerance: 9 }).init();

    $(document).ready(function() {
      $("#mobile-menu-icon").click(function() {
          $(".mobile-menu").slideToggle(500);
      });
    });
</script>

<script>
    // var _gaq=[['_setAccount','UA-39374841-1'],['_trackPageview']];
    // (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    // g.src='//www.google-analytics.com/ga.js';
    // s.parentNode.insertBefore(g,s)}(document,'script'));

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-39374841-1', 'auto');
      ga('send', 'pageview');
</script>

<script type="text/javascript">
  // !!! temporary removal due to contact page issues 5/13/16

  // if ('serviceWorker' in navigator) {
  //   navigator.serviceWorker.register('./sw.js').then(function(registration) {
  //     console.log('ServiceWorker registration successful with scope: ',    registration.scope);
  //   }).catch(function(err) {
  //     console.log('ServiceWorker registration failed: ', err);
  //   });
  // }
</script>