<!-- <script type="text/javascript" src="/lib/jquery.typer.js"></script>
<script type="text/javascript" src="/lib/jquery.hoverdir.js"></script>
<script type="text/javascript" src="/lib/headroom/headroom.min.js"></script>
 -->
<script type="text/javascript" src="js/lib.min.js"></script>

<script type="text/javascript">
    var theHeader = document.getElementById("header-mobile");
    new Headroom(theHeader, { offset: 130, tolerance: 9 }).init();

    $(document).ready(function() {
      $("#mobile-menu-icon").click(function() {
          $(".mobile-menu").slideToggle(500);
      });
    });
</script>


<!-- <script>
    var _gaq=[['_setAccount','UA-39374841-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src='//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script> -->