<header>

  <div class="header-title text-center">
    <h1><a class="site-title" href="{{ site.baseurl }}/">James D. Mosier</a></h1>
  </div>

<!-- <div id="foo"></div> -->

  <nav class="site-nav">
    <div class="menu-icon">
      <i class="fa bars-icon"></i>
    </div>

    <ul>
      <li class="portfolio-li">
        <a class="nav-link" href="/portfolio/">portfolio</a>
        <span></span>
      </li>
      <li class="about-li">
        <a class="nav-link" href="/about/">about</a>
        <span></span>
      </li>
      <li class="contact-li">
        <a class="nav-link" href="/contact/">contact</a>
        <span></span>
      </li>
    </div>
  </nav>

</header>

<script type="text/javascript" defer="defer">
  //$("#foo").autotype();
</script>