
/*   CONTACT   */

#map {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: -200px;
  left: 0;
  right: 0;
  z-index: 0;
}

.form-wrapper {
  margin: 0 auto;
  padding: 30px;
  padding-top: 2%;
  position: relative;
  width: 60%;
  height: 100%;
  z-index: 100;
  label {
    color: #fff;
    width: 100%;
  }
  form {
    margin-top: 30px;
    position: relative;
    z-index: 10;
  }
  .input-elem {
    &:focus {
      border-color: #666;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(66, 66, 66, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(66, 66, 66, 0.6);
    }
  }
}

.form-underlay {
  background-color: rgba(58, 58, 58, 0.38);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.input-textarea {
  width: 100%;
  resize: none;
  padding: 5px 2px;
}

.contact-info {
  color: #fff;
  position: relative;
  z-index: 10;
}

.contact-row {
  margin-bottom: 10px;
}

.contact-mode {
  font-size: 16px;
}

.contact-data {
  color: #000;
  font-size: 20px;
  a {
    color: #000;
    &:hover {
      color: $primary-color;
    }
  }
}

.social-list {
  list-style: none;
  margin-top: 10px;
  padding-left: 0;

  li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }

  a {
    color: #000;
    font-size: 32px;

    &:hover {
      color: $primary-color;
    }
  }
}

.contact-input {
  background: rgba(0,0,0,0.2);
  border: 2px solid rgba(255,255,255,0.8);
  font-size: 18px;
  color: #fff;
  color: rgba(255,255,255,0.8);
  -moz-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  width: 100%;
  height: 45px;
  padding: 10px 60px 10px 20px;
  outline: none;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  &:focus {
    background: rgba(82, 198, 156, 0.18);
    border-color: rgba(0, 0, 0, 0.35);
    font-weight: bold;
  }
}

  textarea.contact-input {
    height: 115px;
  }

.col {
  float: left;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 46%;
}

.some-words {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: visible;
  width: 50%;
  height: 50%;
  z-index: 1;
  p {
    font-size: 1.2rem;
    line-height: 1.4;
  }
  a {
    color: $primary-color;
    text-decoration: underline;
    &:hover {
      color: $primary-bright;
      text-decoration: none;
    }
  }
}
