.blog-header {
  float: left;
  width: 100%;
  background-color: rgb(34, 34, 34);
  height: 150px;
  margin-bottom: 20px;
}

.home-wrapper {
  // clear: both;
  // margin-left: auto;
  // margin-right: auto;
  // padding-top: 20px;
  // padding-left: 15px;
  // padding-right: 15px;
  // position: relative;
  // max-width: 800px;
  // width: 100%;
  // height: 100%;
  margin: 0 auto;
  padding: 0 35px;

  a {
    color: $primary-color;

    &:hover {
      color: $primary-bright;
    }
  }
}

.blog-index-header {
  background-color: #ccc;
  min-height: 40px;
}

.blog-nav {
  // position: absolute;
  // right: 0;
  // top: 40px;
  // background-color: #333;
  margin: 0 auto;

  li {
    padding: 7px;
  }

  a {
    color: #fff;

    &:hover {
      color: #ccc;
    }
  }
}

.blog-post {
  // border-bottom: 2px solid #DDD;
  background-color: #fff;
  box-shadow: 1px 1px 10px #ddd;
  padding: 25px;
  margin-bottom: 25px;

  code, kbd, pre, samp {
    overflow: visible;
  }
}

.blog-post-page {
  margin-bottom: 20px;
  padding: 0 20px;
}

.blog-post-page .post-content a {
  color: $primary-color;

  &:hover {
    color: $primary-bright;
  }
}

.blog-post-page .post-content p {
  padding: 0;
}

.blog-title {
  font-size: 36px;
  margin-bottom: 10px;
  text-align: center;

  a {
    color: $primary-color;
  }
}

.blog-title:first-of-type {
  margin-top: 5px;
}

.blog-meta {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.blog-entry p,
.blog-entry h1,
.blog-entry h2,
.blog-entry h3,
.blog-entry h4,
.blog-entry h5 {
  line-height: 1.4;
  word-break: break-word;
}

.intro {
  width: 345px;
  height: 165px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.hello-typer,
.hello {
  color: #fafafa;
}

.all-posts .bars-icon {
  float: right;
  margin-right: 15px;
  margin-top: 3px;
}
