.port-section-title {
  color: #fff;
  padding: 10px;
}

.portfolio-section {
  color: #fff;
}

.port-paragraph {
  padding: 0 10px;
}

.whatimdoing {
  float: left;
  padding-top: 10px;
  border-top: 1px solid #949494;
  margin-top: 15px;
  width: 100%;

  .port-section-title {
    margin-top: 0;
    margin-bottom: 0;
  }
}
