html,
body {
  height: 100%;
}

.projects-page {
  height: 100%;
  position: relative;
}

.columns-wrap {
  height: 100%;
}

.column-third {
  display: table;
  max-height: 0;
  height: 100%;
  float: left;
  position: relative;
  overflow: hidden;
  width: 33.33333%;
  -webkit-transition: max-height 1s, width .6s;
  -moz-transition: max-height 1s, width .6s;
  transition: max-height 1s, width .6s;

  h3 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

.column-third.expanded-col {
  width: 100%;
}

.column-third.contracted-col {
  display: none;
  width: 0;
}

.column-third h3 a {
  color: #fff;

  &:hover {
    color: #ccc;
  }
}

.column-loaded {
  max-height: 100%;
}

.proj-col-1 {
  background-color: #334D5C;
}

.proj-col-2 {
  background-color: #45B29D;
}

.proj-col-3 {
  background-color: #EFC94C;
}

.projects-header {
  background-color: #333; //#DF5A49
  color: #fff;
  padding: 20px;
  position: absolute;
  z-index: 1;
  text-align: center;
  width: 100%;

  h2 {
    margin: 0;
  }
}

