html,
body {
  height: 100%;
}

.projects-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 0;
}

.columns-wrap {
  flex: 1;
  display: flex;
}

.column-third {
  flex: 0 0 33.3333%;
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  transition: max-height 1s;

  h3 {
    color: #fff;
    text-align: center;
  }
}

.column-loaded {
  max-height: 100%;
}

.proj-col-1 {
  background-color: #334D5C;
}

.proj-col-2 {
  background-color: #45B29D;
}

.proj-col-3 {
  background-color: #EFC94C;
}

.projects-header {
  background-color: #333; //#DF5A49
  color: #fff;
  padding: 20px;
  text-align: center;
  h2 {
    margin: 0;
  }
}
