---
layout: default
---

<h2 class="post_title tag-heading">{{page.title}}</h2>

<ul class="posts-thumbs" data-id="post-tag-thumbs">
  {% for post in site.posts %}
  {% for tag in post.tags %}
  {% if tag == page.tag %}
  <li class="column col-3">
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
      <img src="{{post.featured-image}}" alt="{{post.title}}">
      <div class="post-thumb-title">
        <span class="the-title">{{post.title}}</span>
        <ul class="tag_list">
          {% for tag in post.tags %}
          <li class="archive_list">
            <span class="tag_list_link" onclick="location.href='/tag/{{ tag }}'">{{ tag }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </a>
  </li>
  {% endif %}
  {% endfor %}
  {% endfor %}
</ul>

<div class="back-wrap">
  <a href="javascript:void(0);"><span class="fa back-btn"></span> go back</a>
</div>


<script type="text/javascript">
  $(function () {   
    $("[data-id='post-tag-thumbs'] > li ").each( 
      function() { 
        $(this).hoverdir(); 
      }
    );

    $('.back-wrap a').click(function(){
        parent.history.back();
        return false;
    });

  });
</script> 